*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --poppins: 'Poppins', sans-serif;
}

body{
    font-family: var(--poppins);
    background-image: url("../imgs/background.jpg");
    background-size: cover;
}


main 
    .title{
        font-size: 35px;
        padding: 10px 0;
        text-align: center;
        color: #fff;
        &:hover{
            color: #5b40f3a6;
        }
    }
    .gallery__container{
        display: grid;
        padding: 25px 15px;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: 180px;
        grid-template-areas: 
        "img1 img1 img2 img3"
        "img1 img1 img4 img4"
        "img5 img5 img5 img6"
        "img5 img5 img5 img6"
        "img5 img5 img5 img6"
        "img7 img7 img8 img8"
        "img7 img7 img8 img8";
        gap: 5px;

        .gallery__picture{
            border-radius: 5px;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #5b40f3a6;
                transform: scale(0);
                transition: transform .4s;
                color:#fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
            }
            &:hover::before{
                transform: scale(1) rotate(360deg);
            }
            .gallery__img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .gallery__paragraph{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .9rem;
                color: rgb(255, 255, 255);
                opacity: 0;
                transition: .4s;
                &:hover{
                    opacity: 1;
                }
            }
        
        }
        .gallery__picture--1{
            grid-area: img1;
        }
        .gallery__picture--2{
            grid-area: img2;
        }
        .gallery__picture--3{
            grid-area: img3;
        }
        .gallery__picture--4{
            grid-area: img4;
        }
        .gallery__picture--5{
            grid-area: img5;
        }
        .gallery__picture--6{
            grid-area: img6;
        }
        .gallery__picture--7{
            grid-area: img7;
        }
        .gallery__picture--8{
            grid-area: img8;
        }
}

